<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/style.css">
	<script type="javascript" src="../public/js/jquery.min.js"></script>
	<script type="javascript" src="../public/js/common.js"></script>
	<title>농감</title>
</head>
<body>
	<header>
		<a href="javascript:;">메뉴</a>
		<nav>
			<ul>
				<li>
					<a href="#">메뉴1</a>
				</li>
			</ul>
		</nav>

		<p>
			<strong>강원도/춘천시</strong>
			(16시 기준)
		</p>
	</header>
	<section>
		<article>
			<span id="temperature">23</span>
			<span id="weather">맑음</span>
			<span id="than">어제보다 18도 높음</span>
		</article>

		<article>
			<i class="weather sun"></i>
			오늘은 해가 짱짱한 맑은 날!
		</article>
		<article>
			<i class="alert"></i>
			제주도 지방 역병 조심!
		</article>
	</section>
</body>
</html>